html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

body {
  line-height: 1.4rem;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 2rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

header .flex {
  justify-content: flex-end;
}

.banner {
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
}

.middle {
  display: flex;
  justify-content: center;
}

.service {
  height: 8rem;
  margin: 3rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.service img.paper {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.info p {
  padding: 1rem 0;
}

footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
  align-items: center;
}
